.namee{
    color:#fd7e14;
    font-size: 40px;
    font-family: 'Roboto Codensed' sans-serif;
    font-style: normal;
    font-weight: bold;
}
.nav-link{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto Condensed' sans-serif;
    color: #f8f9fa;
    margin-top: 20px;
    
}
h1{
    outline: 0px;
    font-style: italic;
}