<div class="container fluid bg-#6c757d">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <h1 class="namee">Md. Golam Rabbi Noyon</h1>
    </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/" class="nav-link ">Home</a></li>
        <li class="nav-item"><a routerLink="/Personal Informaition" class="nav-link">Personal Informaition</a></li>
        <li class="nav-item"><a routerLink="/Educational Information" class="nav-link " >Educational Information</a></li>
        <li class="nav-item"><a routerLink="/Skills"  class="nav-link ">Skills</a></li>
        <li class="nav-item"><a routerLink="/Projects" class="nav-link " >Projects</a></li>
        <li class="nav-item"><a routerLink="/Contact Me" class="nav-link ">Contact Me</a></li>
      </ul>
  </header>
</div>
<router-outlet></router-outlet>






