<div class="container">
    <h1>Contact Me</h1>

    <ul class="social-media">
        <li><i><a class="bx bxl-gmail" href="mdnoyon251356@gmail.com"></a></i></li>
        <li><i><a class='bx bxl-facebook-circle' href="https://web.facebook.com/ibnabdul.alim.1?mibextid=ZbWKwL&_rdc=1&_rdr"></a></i></li>
        <li><i><a href="https://t.me/GRnoyonGrn"   class='bx bxl-telegram'></a></i></li>
    </ul>
    <ul class="contact-info">
        <li>Mobile: 01859888226</li>
        <li> Gmail Id: mdnoyon251356@gmail.com</li>
    </ul>
</div>
