:host {
    display: block;
    background-color: #343a40;
    padding: 3rem 2rem;
}

.container{
    gap: 2rem;
    display: grid;
}

table{
    font-size: 1.3rem;
    outline: 1px solid white;
}

table tr {
    height: 40px;
}
table tr td{
    padding-left: 0.5rem;
}
table tr td:nth-child(even) {
    color: var(--green)
}
section{
    font-size: 1.2rem;
    text-align: justify;
}

section p:not(:first-child) {
    margin-top: 1rem;
}
p{
    color: white;
}
td{
    color: white;
}

/* pc */
.pc {
    margin-top: 3rem;
}
.container{
    grid-template-columns: 1fr 1fr;
}
h1{
    grid-column: 1/3;
}
table {
    width: 80%;
    margin: auto;

}


