<div class="containet">
    <h1 style="color: white;">Projects</h1>
    <div class="card">
        <section *ngFor="let project of projects">
            <h2>{{project.tittle}}</h2>
            <h3>
                <span>Technologies: </span>
                <span>{{project.technologies}}</span>
            </h3>
            <h5>{{project.description}}</h5>
    
        </section>
    </div>
    <div class="icard">
        <div class="i">
            <img src="../../assets/images/list.png">
        </div>
        <div class="im">
            <img src="../../assets/images/shoes.png">
        </div>
        <div class="img">
            <img src="../../assets/images/aa.png">
        </div>
    </div>

</div>
